{
    "openapi": "3.0.0",
    "info": {
      "version": "1.0.0",
      "title": "Title",
      "license": {
        "name": "MIT"
      }
    },
    "servers": [
      {
        "url": "http://testapi.com"
      }
    ],
    "paths": {
      "/all/": {
        "get": {
          "summary": "List all things",
          "operationId": "listThings",
          "tags": [
            "things"
          ],
          "responses": {
            "200": {
              "description": "A paged array of things",
              "headers": {
                "x-next": {
                  "description": "A link to the next page of responses",
                  "schema": {
                    "type": "string"
                  }
                },
                "x-response-id": {
                  "$ref": "#/components/headers/xResponseId"
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Things"
                  }
                }
              }
            },
            "default": {
              "description": "unexpected error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            }
          }
        },
        "post": {
          "summary": "Create a thing",
          "operationId": "createThings",
          "tags": [
            "things"
          ],
          "responses": {
            "201": {
              "description": "Null response"
            },
            "default": {
              "description": "unexpected error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            }
          }
        }
      },
      "/things": {
        "get": {
          "summary": "List all things",
          "operationId": "listThings",
          "tags": [
            "things"
          ],
          "parameters": [
            {
              "name": "limit",
              "in": "query",
              "description": "How many items to return at one time (max 100)",
              "required": false,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "A paged array of things",
              "headers": {
                "x-next": {
                  "description": "A link to the next page of responses",
                  "schema": {
                    "type": "string"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Things"
                  }
                }
              }
            },
            "default": {
              "description": "unexpected error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            }
          }
        },
        "post": {
          "summary": "Create a thing",
          "operationId": "createThings",
          "tags": [
            "things"
          ],
          "responses": {
            "201": {
              "description": "Null response"
            },
            "default": {
              "description": "unexpected error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            }
          }
        }
      },
      "/things/{thingId}": {
        "get": {
          "summary": "Info for a specific thing",
          "operationId": "showThingById",
          "tags": [
            "things"
          ],
          "parameters": [
            {
              "name": "thingId",
              "in": "path",
              "required": true,
              "description": "The id of the thing to retrieve",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Expected response to a valid request",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Things"
                  }
                }
              }
            },
            "default": {
              "description": "unexpected error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            }
          }
        }
      }
    },
    "components": {
      "headers": {
        "xResponseId": {
          "required":true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Unique response ID"
        }
      },
      "schemas": {
        "Thing": {
          "required": [
            "id",
            "name"
          ],
          "properties": {
            "id": {
              "type": "integer",
              "format": "int64"
            },
            "name": {
              "type": "string"
            },
            "tag": {
              "type": "string"
            }
          }
        },
        "Things": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/Thing"
          }
        },
        "Error": {
          "required": [
            "code",
            "message"
          ],
          "properties": {
            "code": {
              "type": "integer",
              "format": "int32"
            },
            "message": {
              "type": "string"
            }
          }
        }
      }
    }
  }